<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="style.css" />
		<title>Mini Message Board</title>
	</head>
	<body>
		<main>
			<div class="container">
				<ul class="message-list">
					<% messages.map(message => { %>
					<li class="message">
						<div class="message__info">
							<p class="message__username"><%= message.user %></p>
							<p class="message__date"><%= message.added %></p>
						</div>
						<p class="message__body"><%= message.text %></p>
					</li>
					<% }) %>
				</ul>
			</div>
		</main>
	</body>
</html>
