<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/head.ejs') %>

	<body>
		<nav>
			<a href="/new">
				<button class="btn--add">Add new</button>
			</a>
		</nav>
		<main>
			<div class="container">
				<ul class="message-list">
					<% messages.map(message => { %>
					<li class="message">
						<div class="message__info">
							<p class="message__username"><%= message.username %></p>
							<p class="message__date"><%= message.date_added %></p>
						</div>
						<p class="message__body"><%= message.message_body %></p>
					</li>
					<% }) %>
				</ul>
			</div>
		</main>
	</body>
</html>
