<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/head.ejs') %>

	<body>
		<main>
			<div class="container">
				<ul class="message-list">
					<% messages.map(message => { %>
					<li class="message">
						<div class="message__info">
							<p class="message__username"><%= message.user %></p>
							<p class="message__date"><%= message.added %></p>
						</div>
						<p class="message__body"><%= message.text %></p>
					</li>
					<% }) %>
				</ul>
			</div>
		</main>
	</body>
</html>
