:root {
	--clr-text: 281 93% 94%;
	--clr-background: 282 93% 5%;
	--clr-primary: 284 93% 73%;
	--clr-secondary: 346 93% 31%;
	--clr-accent: 11 93% 58%;
}

* {
	padding: 0;
	margin: 0;
}

body {
	background-color: hsl(var(--clr-background));
	color: hsl(var(--clr-text));
	font-family: Arial, Helvetica, sans-serif;
}

h2 {
	color: hsl(var(--clr-accent));
}

button {
	cursor: pointer;
	outline: none;
	border: none;
	border-radius: 8px;
	padding: 0.75rem 1.5rem;
	font-weight: bold;
}

.container {
	max-width: 70ch;
	padding: 1rem;
	margin-inline: auto;
}

nav {
	padding: 1rem;
	display: flex;
	justify-content: flex-end;
	max-width: 90em;
}

.btn--add {
	background-color: hsl(var(--clr-accent) / 0.75);
}
.btn--add:hover {
	background-color: hsl(var(--clr-accent));
}
.btn--back {
	background-color: hsl(var(--clr-secondary) / 0.75);
	color: hsl(var(--clr-text));
}
.btn--back:hover {
	background-color: hsl(var(--clr-secondary));
}

.message-list {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
}

.message {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	background-color: hsl(var(--clr-primary) / 0.1);
	padding: 1rem;
	border-radius: 16px;
}
.message__info {
	display: flex;
	gap: 0.5rem;
	align-items: center;
}
.message__username {
	font-size: 1.25rem;
	font-weight: bold;
	color: hsl(var(--clr-accent));
}
.message__date {
	font-size: 0.8rem;
	color: hsl(var(--clr-text) / 0.6);
}

form {
	display: flex;
	flex-direction: column;
	margin-top: 2rem;
}
input {
	padding: 1rem;
	margin-bottom: 1.5rem;
	background-color: hsl(var(--clr-primary) / 0.1);
	color: hsl(var(--clr-text));
	outline: none;
	border: none;
	border-radius: 16px;
}
button[type='submit'] {
	margin-top: 1rem;
	background-color: hsl(var(--clr-primary) / 0.75);
	font-size: 1.25rem;
	border-radius: 16px;
}
button[type='submit']:hover {
	background-color: hsl(var(--clr-primary));
}
